{% extends 'blog/index.html' %}
{% block title %}{{post.title}}{% endblock %}
{% block content %}
{% if 'change_post' in perms %}
<div class="container text-light">
{% load likecounter %}
</div>
{% endif %}
{% if not post.approved %}
<div class="container" style="position: fixed;bottom: 20px;left: 50%;transform: translate(-50%, -50%);z-index: 1;padding: 0;">
    <form action="{% url 'blog:approvepost' post.pk %}" method="post">
        {% csrf_token %}
        <input type="text" name="action" value="approve" hidden>
        <button id="approve" style="width: 100%;"  class="btn btn-success">
            APPROVE
        </button>
    </form>
</div>
{% endif %}
<div class="container shadow p-5 rounded" style="position: relative;">
    <span class="h1" style="font-family: 'Times New Roman', Times, serif;">
        {{ post.title }}
    </span>
    <div>
        <button id="enable" class="badge border-0 shadow-sm bg-{% if post.disabled %}danger{% else %}success{% endif %} text-light">{% if post.disabled %}Disabled{% else %}Enabled{% endif %}</button>
    </div>
    {% if 'blog.change_post' in perms or request.user == post.author %}
    <span class="dropdown rounded" style="position:absolute;top:10px;right: 10px;">
        <button class="bg-white border-0 dropdown-toggle btn-lg" type="button" id="edit-delete" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-three-dots-vertical"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="edit-delete">
            <div><a class="btn text-muted" href="{% url 'blog:edit' post.pk %}">Edit</a></div>
            <div><a class="btn text-muted" href="{% url 'blog:delete' post.pk %}">Delete</a></div>
        </div>
    </span>

    {% endif %}
    <div class="d-flex justify-content-between">
        <span id="author">
            <span>author: </span><span class="font-italic text-muted">{{ post.author }}</span>
        </span>
        <div> {{ post.create_date }}</div>
    </div>
    <img src="/media/img/{{ post.img }}" alt="" width="100%">
    <div id="text" style="font-size: 20px;">
        <p>{{ post.text }}</p>
    </div>
    <div class="d-flex like-box" data-id="{{ post|post_like_id:request.user }}">
        <div class="h2 text-success p-2 m-2">
            <span class="counter">{{ post.postlike_set.all|like_counter:True }}</span>
            <i id="post-like" class="bi bi-hand-thumbs-up{% if post|liked_this_post:request.user == True %}-fill{% endif %}"></i>
        </div>
        <div class="h2 text-danger p-2 m-2">
            <i id="post-dislike" class="bi bi-hand-thumbs-down{% if post|liked_this_post:request.user == False %}-fill{% endif %}"></i>
            <span class="counter">{{ post.postlike_set.all|like_counter:False }}</span>
        </div>
    </div>
    <hr>
    <div class="h1">Comments</div>
    <div class="container border rounded py-4">
        {% for comment in post.comment_set.all %}
        {% if not comment.disabled or perms.blog.view_category %}
        <div class="comment mb-4">
            <div class="d-flex justify-content-between">
                <div class="font-bold text-info">
                    {% if comment.disabled and perms.blog.view_category %}
                    <i class="bi bi-dash-circle-fill text-danger"></i>
                    {% endif %}
                    {{ comment.author }}</div>
                <div class="text-muted">{{ comment.create_date }}</div>
            </div>
            <div>{{ comment.text }}</div>
            <div class="d-flex">
                <div class="h5 text-success mr-2">
                    <span class="counter">{{ comment.commentlike_set.all|like_counter:True }}</span>
                    <i class="bi bi-hand-thumbs-up{% if comment|comment_liked:request.user == True %}-fill{% endif %} comment-like"></i>
                </div>
                <div class="h5 text-danger ml-2">
                    <i class="bi bi-hand-thumbs-down{% if comment|comment_liked:request.user == False %}-fill{% endif %} comment-dislike"></i>
                    <span class="counter">{{ comment.commentlike_set.all|like_counter:False }}</span>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<div class="container mt-4 p-0">
    {% if 'blog.add_comment' in perms %}
    <div id="add_comment" class="rounded shadow p-5">
        {% include 'blog/comment.html' %}
    </div>
    {% endif %}
</div>
{% endblock %}
{% block extra_script %}
<script>
    function CreateLike(like, id, callback) {
        $.ajax({
            url: '/api/post/like/',
            method: 'POST',
            data: {
                user: '{{ request.user.pk }}',
                post: '{{ post.pk }}',
                like: like
            },
            success: function(data){
                callback()
            },
            error: function(data){
                console.log(data)
            },
            headers: {'X-CSRFToken': getCookie('csrftoken')}
        })
    }
    function UpdateLike(like, id, callback){
        $.ajax({
            url: `/api/post/like/`+id+`/`,
            method: 'PUT',
            data: {
                user: '{{ request.user.pk }}',
                post: '{{ post.pk }}',
                like: like
            },
            success: function (data) {
                callback()
            },
            error: function(data){
                console.log(data)
            },
            headers: {'X-CSRFToken': getCookie('csrftoken')}
        })
    }
    function DeleteLike(id, callback){
        $.ajax({
            url: `/api/post/like/`+id+`/`,
            method: 'DELETE',
            success: function(data){
                callback()
            },
            headers: {'X-CSRFToken': getCookie('csrftoken')}
        })
    }
    function HandleLike(liked){
        if ($(liked).hasClass('bi-hand-thumbs-up-fill')) {
            $(liked).addClass('bi-hand-thumbs-up')
            $(liked).removeClass('bi-hand-thumbs-up-fill')
            $(liked).siblings('.counter').text((index, value) => {
                return value - 1;
            })
        } else {
            $(liked).addClass('bi-hand-thumbs-up-fill')
            $(liked).removeClass('bi-hand-thumbs-up')
            $(liked).siblings('.counter').text((index, value) => {
                return Number(value) + 1;
            })
        }
    }
    function HandleDislike(liked){
        if ($(liked).hasClass('bi-hand-thumbs-down-fill')) {
            $(liked).addClass('bi-hand-thumbs-down')
            $(liked).removeClass('bi-hand-thumbs-down-fill')
            $(liked).siblings('.counter').text((index, value) => {
                return value - 1;
            })
        } else {
            $(liked).addClass('bi-hand-thumbs-down-fill')
            $(liked).removeClass('bi-hand-thumbs-down')
            $(liked).siblings('.counter').text((index, value) => {
                return Number(value) + 1;
            })
        }
    }
    $('#post-like').click((ev) => {
        var liked = ev.target
        if ($(ev.target).hasClass('bi-hand-thumbs-up-fill')) {
            DeleteLike($('#post-like').parent().parent('.like-box').attr('data-id'), function(){
                HandleLike(liked)
            })
        } else if ($('#post-like').hasClass('bi-hand-thumbs-up-fill') || $('#post-dislike').hasClass('bi-hand-thumbs-down-fill')){
            UpdateLike(true, $('#post-like').parent().parent('.like-box').attr('data-id'), function(){
                HandleLike(liked)
            })
        } else if ($('#post-like').hasClass('bi-hand-thumbs-up') && $('#post-dislike').hasClass('bi-hand-thumbs-down')){
            CreateLike(true, $('#post-like').parent().parent('.like-box').attr('data-id'), function(){
                HandleLike(liked)
            })
        }
    })
    $('#post-dislike').click((ev) => {
        var liked = ev.target
        if ($(ev.target).hasClass('bi-hand-thumbs-down-fill')) {
            DeleteLike($('#post-dislike').parent().parent('.like-box').attr('data-id'), function(){
                HandleDislike(liked)
            })
        } else if ($('#post-like').hasClass('bi-hand-thumbs-up-fill') || $('#post-dislike').hasClass('bi-hand-thumbs-down-fill')){
            UpdateLike(false, $('#post-dislike').parent().parent('.like-box').attr('data-id'), function(){
                HandleDislike(liked)
            })
        } else if ($('#post-like').hasClass('bi-hand-thumbs-up') && $('#post-dislike').hasClass('bi-hand-thumbs-down')){
            CreateLike(false, $('#post-dislike').parent().parent('.like-box').attr('data-id'), function(){
                HandleDislike(liked)
            })
        }
        
    })
    $('#enable').click(()=>{
        $.ajax({
            url: '{% url "blog:approvepost" post.pk %}',
            method: 'POST',
            mode: 'same-origin',
            data: {
                action: 'enable'
            },
            success: function (data) {
                if (data == 'ok') {
                    window.location.reload()
                }
            },
            headers: {'X-CSRFToken': getCookie('csrftoken')}
        })
    })
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% endblock %}